includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 9

    ignoreErrors:
        - '#^Parameter \#1 \$string of function strtolower expects string, string\|null given\.$#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
